---
layout: alternative
title: Portfolio
permalink: /portfolio
---
<section class="section typeset">
	<div class="single-measure">
		<h1>Portfolio</h1>
		<p>
			Most of my experience as a <b>full stack developer</b> comes from internal projects at various companies over the years.
			See <a target="_blank" href={{ "/assets/Resume%20-%20G%20Roques.pdf" | prepend: site.baseurl }}>my resume</a> for details.
			Below are related <b>public</b> works in <b>full stack web development</b>, web design, machine learning, and AI.
		</p>
		<ul>
			{% for section in site.data.projects %}
				<li><a data-scroll href="#{{ section.id }}">{{ section.name }}</a></li>
			{% endfor %}
		</ul>
		<p>
			Also see <a href="/coursework">school projects</a> I've written in <b>Java</b>, <b>C/C++</b>, <b>Python</b>, and other various languages for my undergraduate computer science degree.
		</p>
	</div>
</section>

<div class="portfolio-gallery typeset">
	{% for section in site.data.projects %}
		<div class="portfolio-gallery-section" id="{{ section.id }}">
			<div class="portfolio-gallery-section-title">
				<h2 class="portfolio-gallery-section-title-text">{{ section.name }}</h2>
				<div class="portfolio-gallery-section-title-underline"></div>
			</div>
			<div class="portfolio-gallery-section-contents">
				{% for project in section.projects %}
					<div class="portfolio-gallery-card">
						<a href="{{ project.url }}" target="_blank" class="portfolio-gallery-card-link-wrapper">
							<img class="portfolio-gallery-card-thumbnail" src="{{ project.thumbnail | prepend: '/assets/img/' | prepend: site.baseurl }}" alt="{{ project.name }}" />
							<div class="portfolio-gallery-card-text-contents-top">
									<h6 class="portfolio-gallery-card-title">{{ project.name }}</h6>
									<p class="portfolio-gallery-card-description">{{ project.description }}</p>
							</div>
							<div class="portfolio-gallery-card-text-contents-bottom">
								<a class="portfolio-gallery-card-open-link" href="{{ project.url }}" target="_blank">Open in new page</a>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>