// Footer demo styles.
// ---------------------------------------

.global-footer {

  p {
    @include fontsize(eta, all);

    color: $captionColour;
    font-family: unquote(map-get($headingtype, font-family));
    font-style: normal;
    font-weight: map-get($headingtype, regular);
    padding: 1rem 0;
    margin: 0;
    text-align: center;
  }
}

.heart {
  fill: #F8BBD0;
  position: relative;
  width: 13px;
  margin-left: 7px;
  transition: .3s ease-in-out;
  cursor: pointer;
  top: 1px;

  &:hover {
    animation: heart-pulse 1s ease infinite,
  }
}

@keyframes heart-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
