.global-footer {
  text-align: center;

  & .social-icons-container {
    padding: 1rem 0;
    margin: 0;

    & .social-icon:first-child {
      margin-right: 3rem;
    }

    & .social-icon svg {
      fill: #9E9E9E;
      transition: fill 250ms ease-in-out;
      width: 2rem;
      height: 2rem;
    }

    & .social-icon svg:hover {
      fill: #BDBDBD;
    }
  }
}
