<footer class="global-footer">
  <p>
  	Made with
  	<svg class="heart" viewBox="0 0 32 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
    </svg>
  </p>
</footer>
<script type="text/javascript" src="{{ "/assets/js/responsive-nav.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript"  src="{{ "/assets/js/smooth-scroll.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
	responsiveNav(".main-nav");
	smoothScroll.init({
		speed: 600,
		easing: 'easeInOutCubic'
	});
</script>
<script src="https://cdn.rawgit.com/samthor/rippleJS/v1.0.2/ripple.min.js"></script>
