<footer class="global-footer">
  <div class="social-icons-container">
      <a class="social-icon" target="_blank" href="https://github.com/gbroques">{% include github.svg %}</a>
      <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/gbroques/">{% include linkedin.svg %}</a>
  </div>
</footer>
<script type="text/javascript" src="{{ "/assets/js/main.min.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
	responsiveNav(".main-nav", {
      animate: true,                    // Boolean: Use CSS3 transitions, true or false
      transition: 284,                  // Integer: Speed of the transition, in milliseconds
      label: "Menu",                    // String: Label for the navigation toggle
      insert: "before",                 // String: Insert the toggle before or after the navigation
      customToggle: "hamburger-menu",   // Selector: Specify the ID of a custom toggle
      closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
      openPos: "relative",              // String: Position of the opened nav, relative or static
      navClass: "nav-collapse",         // String: Default CSS class. If changed, you need to edit the CSS too!
      navActiveClass: "is-active",      // String: Class that is added to <html> element when nav is active
      jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
      init: function(){},               // Function: Init callback
      open: function(){},               // Function: Open callback
      close: function(){}               // Function: Close callback
    });
	smoothScroll.init({
		speed: 600,
		easing: 'easeInOutCubic'
	});
</script>